@page "/"
@using Blazorise
@using Blazorise.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Div>
    <Button Color="Color.Primary" Clicked="@ShowModal1">Show Modal1</Button>
    <Button Color="Color.Primary" Clicked="@ShowModal2">Show Modal2</Button>

</Div>

<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@title</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Autocomplete TItem="cName"
                          TValue="string"
                          Data="@namesList"
                          TextField="@(( item ) => item.Name)"
                          ValueField="@(( item ) => item.Id)"
                          @bind-SelectedValue="@selectedSearchValue"
                          @bind-SelectedText="selectedAutoCompleteText"
                          Placeholder="Search..."
                          Filter="AutocompleteFilter.StartsWith"
                          FreeTyping>
                <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
            </Autocomplete>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    private bool modalVisible;
    List<cName> namesList;
    List<cName> List1;
    List<cName> List2;
    string title;
    string selectedSearchValue, selectedAutoCompleteText;

    async protected override Task OnInitializedAsync()
    {
        List1 = new List<cName>() {
            new cName{ Id="1",Name="John1" },
            new cName{ Id="1",Name="Jim1" } ,
            new cName{ Id="1",Name="Jack1" } ,
            new cName{ Id="1",Name="Jill1" }
        };
        List2 = new List<cName>() {
            new cName{ Id="1",Name="John2" } ,
            new cName{ Id="1",Name="Jim2" } ,
            new cName{ Id="1",Name="Jack2" } ,
            new cName{ Id="1",Name="Jill2" }
        };
    }

    private Task ShowModal1()
    {
        selectedAutoCompleteText = null;
        selectedSearchValue = null;
        title = "Using List1";
        namesList = List1;
        modalVisible = true;

        return Task.CompletedTask;
    }
    private Task ShowModal2()
    {
        selectedAutoCompleteText = null;
        selectedSearchValue = null;
        title = "Using List2";
        namesList = List2;
        modalVisible = true;

        return Task.CompletedTask;
    }

    private Task HideModal()
    {
        modalVisible = false;

        return Task.CompletedTask;
    }

    public class cName
    {
        public string Id { get; set; }
        public string Name { get; set; }
    }
}
